@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Omnes Medium';
  src: url('/public/fonts/Omnes/OmnesMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply text-gray-900 bg-gray-100 font-omnes;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  width: 90%;
  max-width: 500px;
}